* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f1f1f1;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: #303030;
}

.search-input-container {
  display: flex;
  padding: 0.35em 0.25em 0.35em 0.5em;
  align-items: center;
  border: 2px solid #616161;
  border-radius: 10px;
  transition: border 0.3s ease;

  & > svg {
    transform: scale(0.7);
    fill: #b5b5b5;
  }

  & > input {
    color: #b5b5b5;
    background: none;
    border: none;
    outline: none;
    width: 60%;
  }

  & > input::placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
}

.search-input-container:has(input:hover) {
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.search-input-container:has(input:focus, input:active) {
  border: 2px solid rgba(255, 255, 255, 1);
}

.menu-wrapper {
  display: flex;
  position: relative;

  & > button {
    background: none;
    outline: none;
    border: none;
  }
}

.alert-btn svg {
  transform: scale(0.6);
}

.merchant-profile-btn {
  display: flex;
  align-items: center;

  .store-name {
    display: none;
  }

  .store-image-placeholder {
    background-color: #36fba1;
    color: rgba(0, 0, 0, 0.4);
    padding: 0.5em;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.15rem;
  }
}

.merchantmenu {
  position: absolute;
  top: 170%;
  right: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5em 0;
  display: grid;
  grid-template-rows: repeat(10, 2.75rem);
  gap: 0.15em;
  border-radius: 10px;
  min-width: 300px;
  /* max-height: 400px; */

  & > li {
    border-radius: 10px;
    margin: 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  & > li:first-of-type {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
  }

  & > li:focus-within {
    outline: 2px solid blue;
  }

  & a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75em;
    text-decoration: none;
    color: #303030;
    padding-left: 1em;
    font-size: clamp(10px, 12px + 1vw, 16px);
    outline: none;
  }

  .user-bio {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
  }

  .user-email {
    font-size: clamp(8px, 10px + 1vw, 14px);
    color: rgba(0, 0, 0, 0.7);
  }
}

[role='menu'] {
  display: none;
}

[aria-expanded='true'] + [role='menu'] {
  display: grid;
}

main {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.trial-prompt {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;

  position: relative;
  padding: 1em 3em 1em 0.75em;

  .close-prompt-btn {
    background: none;
    outline: none;
    border: none;
    position: absolute;
    top: 1em;
    right: 2em;
    cursor: pointer;
  }

  .close-prompt-btn:focus-visible {
    outline: 2px solid blue;
    outline-offset: 2px;
  }

  .trial-call-to-action {
    padding: 0.65em 1.25em;
    margin: 0.5em 0;
    outline: 0;
    border: 0;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .trial-call-to-action:hover {
    background-color: #f7f7f7;
  }

  .trial-call-to-action:focus-visible {
    background-color: #fff;
    outline: 2px solid blue;
    outline-offset: 2px;
  }
}

.setup-guides-container {
  background-color: #fff;
}

.setup-guide-information {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  & > h1 {
    font-size: clamp(16px, 16px + 1vw, 20px);
  }

  & > p {
    font-size: clamp(10px, 12px + 1vw, 16px);
  }

  .progress-container {
    font-size: clamp(8px, 10px + 1vw, 14px);
  }

  .progress-indicator {
    accent-color: #1a1a1a;
  }
}

.toggle-guide-collapse {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.setup-step {
  margin-inline: 0.5em;
  padding-block: 0.75em;
  padding-inline: 0.75em;
  border-radius: 10px;
  display: flex;

  .checkbox-container {
    position: relative;
    cursor: pointer;
    align-self: flex-start;

    display: flex;
    align-items: center;
    transition: all 0.3s ease;
  }

  & input {
    opacity: 0;
    position: absolute;
  }

  .checkbox-container:not(:has(input:checked)) {
    .checked-svg {
      display: none;
    }
  }

  .checkbox-container:has(input:checked) {
    .unchecked-svg {
      display: none;
    }
  }

  & label {
    cursor: pointer;
    width: 100%;
  }

  & input:focus + label {
    outline: 2px solid blue;
  }

  .setup-step-btn {
    outline: none;
    border: none;
    background: none;
    font-size: clamp(12px, 12px + 1vw, 16px);
    font-weight: bold;
    pointer-events: all;
  }

  &:has(.setup-step-btn:focus) {
    outline: 2px solid blue;
  }

  .setup-content-container {
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
  }

  .setup-step-btn {
    font-size: clamp(12px, 12px + 1vw, 18px);
  }

  .setup-step-info {
    font-size: clamp(10px, 10px + 1vw, 16px);
    max-width: 65ch;
    max-height: 0;
    overflow-y: hidden;
  }

  .setup-step-call-to-action {
    border: none;
    outline: none;
    padding: 1em 2em;
    background-color: rgba(64, 64, 64, 1);
    color: #f6f3f6;
    margin-top: 0.75em;
    border-radius: 10px;
    display: block;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: clamp(8px, 8px + 1vw, 14px);
  }

  .setup-step-call-to-action::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: inherit;
    filter: blur(0.75px);
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }

  .setup-step-call-to-action:hover {
    background-color: #2a2a2a;
  }

  .setup-step-call-to-action:focus-visible {
    outline: 2px solid blue;
    outline-offset: 2px;
  }

  .setup-step-call-to-action:active {
    outline-color: transparent;
  }

  .setup-step-call-to-action:active::after {
    display: none;
  }
}

.setup-step:has([aria-expanded='true']) {
  background-color: rgba(0, 0, 0, 0.08);

  .setup-step-info {
    max-height: unset;
    overflow: unset;
  }
}

@media screen and (min-width: 768px) {
  .search-input-container {
    min-width: 600px;

    & > input {
      width: 100%;
    }
  }

  .menu-wrapper {
    gap: 1em;

    & > button {
      background-color: rgba(255, 255, 255, 0.2);
      transition: background-color 0.3s ease;
    }

    & > button:hover,
    & > button:active {
      background-color: rgba(255, 255, 255, 0.5);
    }

    & > button:focus-visible {
      background-color: rgba(255, 255, 255, 0.5);
      outline: 2px solid blue;
    }
  }

  .alert-btn {
    border-radius: 10px;
  }

  .merchant-profile-btn {
    padding: 0 0.2em 0 0.75em;
    border-radius: 10px;
    gap: 0.5em;

    .store-name {
      display: block;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.15rem;
    }
  }

  .trial-prompt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 1em;
    border-radius: 10px;

    .close-prompt-btn {
      position: initial;
    }
  }
}
