* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  /* Custom properties for the colors */
  --grey-50: #656266;
  --grey-100: #616161;
  --grey-200: #322f33;
  --grey-300: #1c181d;

  --font-light: #e3e3e3;
  --font-mid: #616161;
  --font-dark: #475467;

  --stroke-s50: #ebebeb;
  --stroke-s100: #e1e1e1;
  --stroke-s200: #616161;

  --state-hover: #e7e7e7;
  --state-pressed: #f0f0f0;
  --state-focused: #005bd3;

  --plain-white: #ffffff;
  --plain-background: #f1f1f1;
  --plain-green: #36fba1;

  /* Custom properties for the typography */
  --text-12px-regular-font-size: clamp(12px, 12px + 1vw, 14px);
  --text-12px-regular-line-height: 120%;
  --text-12px-regular-letter-spacing: 0;

  --text-12px-medium-font-size: clamp(12px, 12px + 1vw, 14px);
  --text-12px-medium-line-height: 130%;
  --text-12px-medium-letter-spacing: 0;

  --text-12px-semi-bold-font-size: clamp(12px, 12px + 1vw, 14px);
  --text-12px-semi-bold-line-height: 130%;
  --text-12px-semi-bold-letter-spacing: 0;

  --text-13px-regular-font-size: clamp(13px, 13px + 1vw, 16px);
  --text-13px-regular-line-height: 140%;
  --text-13px-regular-letter-spacing: 0;

  --text-13px-medium-font-size: clamp(13px, 13px + 1vw, 16px);
  --text-13px-medium-line-height: 140%;
  --text-13px-medium-letter-spacing: 0;

  --text-13px-semi-bold-font-size: clamp(13px, 13px + 1vw, 16px);
  --text-13px-semi-bold-line-height: 140%;
  --text-13px-semi-bold-letter-spacing: 0;

  --text-14px-regular-font-size: clamp(14px, 14px + 1vw, 16px);
  --text-14px-regular-line-height: 140%;
  --text-14px-regular-letter-spacing: 0;

  --text-14px-medium-font-size: clamp(14px, 14px + 1vw, 16px);
  --text-14px-medium-line-height: 140%;
  --text-14px-medium-letter-spacing: 0;

  --text-14px-semi-bold-font-size: clamp(14px, 14px + 1vw, 16px);
  --text-14px-semi-bold-line-height: 140%;
  --text-14px-semi-bold-letter-spacing: 0;

  --font-12px-regular: var(--text-12px-regular-font-size) /
      var(--text-12px-regular-line-height) 'Inter',
    sans-serif;
  --font-12px-medium: 500 var(--text-12px-medium-font-size) /
      var(--text-12px-medium-line-height) 'Inter',
    sans-serif;
  --font-12px-semi-bold: bold var(--text-12px-semi-bold-font-size) /
      var(--text-12px-semi-bold-line-height) 'Inter',
    sans-serif;

  --font-13px-regular: var(--text-13px-regular-font-size) /
      var(--text-13px-regular-line-height) 'Inter',
    sans-serif;
  --font-13px-medium: 500 var(--text-13px-medium-font-size) /
      var(--text-13px-medium-line-height) 'Inter',
    sans-serif;
  --font-13px-semi-bold: bold var(--text-13px-semi-bold-font-size) /
      var(--text-13px-semi-bold-line-height) 'Inter',
    sans-serif;

  --font-14px-regular: var(--text-14px-regular-font-size) /
      var(--text-14px-regular-line-height) 'Inter',
    sans-serif;
  --font-14px-medium: 500 var(--text-14px-medium-font-size) /
      var(--text-14px-medium-line-height) 'Inter',
    sans-serif;
  --font-14px-semi-bold: bold var(--text-14px-semi-bold-font-size) /
      var(--text-14px-semi-bold-line-height) 'Inter',
    sans-serif;
}

body {
  background-color: #f1f1f1;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: var(--grey-300);
}

.search-input-container {
  display: flex;
  padding: 0.35em 0.25em 0.35em 0.5em;
  align-items: center;
  border: 1px solid var(--stroke-s200);
  border-radius: 10px;
  transition: border 0.3s ease;
  background-color: var(--grey-200);
  color: var(--grey-100);
  letter-spacing: var(--text-13px-medium-letter-spacing);
  font: var(--font-13px-medium);

  & > svg {
    transform: scale(0.7);
  }

  & > input {
    color: #b5b5b5;
    background: none;
    border: none;
    outline: none;
    width: 60%;
  }

  & > input::placeholder {
    color: var(--grey-100);
  }
}

.search-input-container:has(input:hover) {
  border: 1px solid var(--stroke-s100);
  background-color: var(--grey-200);
}

.search-input-container:has(input:focus, input:active) {
  border: 2px solid var(--plain-white);
}

.menu-notification-wrapper {
  display: flex;
  gap: 1em;
}

.notification-container {
  margin-left: auto;

  .notification-btn {
    background-color: transparent;
    color: var(--font-light);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }

  .notification-btn svg {
    transform: scale(0.6);
  }

  .notification-btn:hover {
    background-color: var(--grey-100);
  }

  .notification-btn:active {
    background-color: var(--grey-50);
  }

  .notification-btn:focus-visible {
    background-color: var(--grey-50);
    outline: 2px solid var(--state-focused);
  }
}

.notification-menu {
  position: absolute;
  inset: 0;
  top: 100px;
  z-index: 100;
  width: 100%;
  max-height: fit-content;
  margin: 0 auto;
  max-width: 400px;
  background-color: var(--plain-white);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1.15em;

  display: flex;
  flex-direction: column;
  gap: 1em;

  .notification-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .notification-menu__controls {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .notification-menu__controls button {
    border: none;
    background: none;
  }

  & h2 {
    font-size: clamp(12px, 14px + 1vw, 18px);
  }

  .notification-menu__items-container {
    text-align: center;
    background-color: var(--plain-background);
    padding: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-14px-semi-bold);
    letter-spacing: var(--text-14px-semi-bold-letter-spacing);
  }
}

.notification-container:has([aria-expanded='false']) .notification-menu {
  display: none;
}

.notification-container:has([aria-expanded='true']) .notification-menu {
  display: flex;
}

.menu-container {
  display: flex;
  position: relative;

  & > button {
    background: none;
    outline: none;
    border: none;
  }

  & > button:hover {
    background-color: var(--grey-50);
  }

  & > button:active {
    background-color: var(--grey-100);
  }

  & > button:focus-visible {
    background-color: var(--grey-50);
    outline: 2px solid var(--state-focused);
  }
}

.merchant-profile-btn {
  display: flex;
  align-items: center;

  .store-name {
    display: none;
  }

  .store-image-placeholder {
    background-color: var(--plain-green);
    color: var(--grey-50);
    padding: 0.5em;
    border-radius: 10px;
    font-weight: bold;
    font: var(--font-12px-medium);
  }
}

.merchantmenu {
  position: absolute;
  top: 170%;
  right: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5em 0;
  display: grid;
  grid-template-rows: repeat(10, 2.75rem);
  gap: 0.15em;
  border-radius: 10px;
  min-width: 300px;
  /* max-height: 400px; */

  & > li {
    border-radius: 10px;
    margin: 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font: var(--font-13px-regular);
    letter-spacing: var(--text-13px-regular-letter-spacing);
  }

  & > li:hover {
    background-color: var(--state-hover);
    color: var(--font-dark);
  }

  & > li:first-of-type {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;

    & a {
      display: flex;
      align-items: center;
      padding-right: 1em;
    }

    & svg {
      margin-left: auto;
    }

    .store-image-placeholder {
      background-color: var(--plain-green);
      padding: 0.5em;
      color: var(--grey-50);
      font: var(--font-12px-medium);
      border-radius: 10px;
    }
  }

  & > li:focus-within {
    outline: 2px solid var(--state-focused);
  }

  & a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75em;
    text-decoration: none;
    color: #303030;
    padding-left: 1em;
    font-size: clamp(10px, 12px + 1vw, 16px);
    outline: none;
  }

  & > li:has(a:active) {
    background-color: var(--state-pressed);
  }

  .user-bio {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
  }

  .user-email {
    font-size: clamp(8px, 10px + 1vw, 14px);
    color: rgba(0, 0, 0, 0.7);
  }
}

[role='menu'] {
  display: none;
}

[aria-expanded='true'] + [role='menu'] {
  display: grid;
}

main {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.trial-prompt {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;

  position: relative;
  padding: 1em 3em 1em 0.75em;
  font: var(--font-13px-medium);
  letter-spacing: var(--text-13px-medium-letter-spacing);

  .close-prompt-btn {
    background: none;
    outline: none;
    border: none;
    position: absolute;
    top: 1em;
    right: 2em;
    cursor: pointer;
  }

  .close-prompt-btn:focus-visible {
    outline: 2px solid var(--state-focused);
    outline-offset: 2px;
  }

  .trial-call-to-action {
    padding: 0.65em 1.25em;
    margin: 0.5em 0;
    outline: 0;
    border: 0;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease;
    cursor: pointer;

    & a {
      text-decoration: none;
      color: inherit;
      outline: none;
      font: var(--font-12px-semi-bold);
      letter-spacing: var(--text-12px-semi-bold-letter-spacing);
    }
  }

  .trial-call-to-action:hover {
    background-color: #f7f7f7;
  }

  .trial-call-to-action:focus-visible,
  .trial-call-to-action:has(a:focus-within) {
    background-color: #fff;
    outline: 2px solid var(--state-focused);
    outline-offset: 2px;
  }
}

.setup-guides-wrapper {
  background-color: #fff;
  padding-bottom: 0.5em;
  border-radius: 10px;
}

.setup-guide-information {
  position: relative;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.setup-guide-text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 0.5em;

  & > h1 {
    font: var(--font-14px-semi-bold);
    letter-spacing: var(--text-14px-semi-bold-letter-spacing);
  }

  & > p {
    font: var(--font-13px-regular);
    letter-spacing: var(--text-13px-regular-letter-spacing);
  }

  .progress-container {
    font-size: clamp(8px, 10px + 1vw, 14px);
  }

  .progress-indicator {
    accent-color: #1a1a1a;
    transition: all 0.3s ease;
    font: var(--font-12px-regular);
    letter-spacing: var(--text-12px-regular-letter-spacing);
  }
}

.toggle-guide-open-state {
  background: none;
  border: none;
  outline: none;
  align-self: flex-start;
  cursor: pointer;
}

.toggle-guide-open-state:focus-visible {
  outline: 2px solid var(--state-focused);
}

.toggle-guide-open-state[aria-expanded='false'] {
  .close-guide-svg {
    display: none;
  }
}

.toggle-guide-open-state[aria-expanded='true'] {
  .open-guide-svg {
    display: none;
  }
}

.setup-steps-container {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s ease;
  padding-top: 1em;
}

.setup-guides-wrapper:has(.toggle-guide-open-state[aria-expanded='true'])
  .setup-steps-container {
  max-height: 800px;
}

.setup-step {
  margin-inline: 0.5em;
  padding-block: 0.75em;
  padding-inline: 0.75em;
  border-radius: 10px;
  display: flex;

  .checkbox-container {
    position: relative;
    cursor: pointer;
    align-self: flex-start;

    display: flex;
    align-items: center;
    transition: all 0.3s ease;
  }

  & input {
    opacity: 0;
    position: absolute;
  }

  .checkbox-container:not(:has(input:checked)) {
    .checked-svg {
      display: none;
    }
  }

  .checkbox-container:not(:has(input:hover)) {
    .hover-svg {
      display: none;
    }
  }

  .checkbox-container:has(input:checked) {
    .hover-svg,
    .unchecked-svg {
      display: none;
    }
  }

  .checkbox-container:has(input:hover) {
    .unchecked-svg {
      display: none;
    }
  }

  & label {
    cursor: pointer;
    width: 100%;
  }

  & input:focus + label {
    outline: 2px solid var(--state-focused);
  }

  .setup-step-btn {
    outline: none;
    border: none;
    background: none;
    pointer-events: all;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: var(--font-dark);
    grid-area: btn;

    font: var(--font-13px-medium);
    letter-spacing: var(--text-13px-medium-letter-spacing);
  }

  &:has(.setup-step-btn:focus) {
    outline: 2px solid var(--state-focused);
  }

  .setup-content-container {
    padding-left: 1em;

    width: 100%;
    position: relative;
  }

  .setup-step-info {
    grid-area: info;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.5s ease;

    font: var(--font-13px-medium);
    letter-spacing: var(--text-13px-medium-letter-spacing);
    color: var(--font-mid);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .setup-step__illustration {
    grid-area: img;
    display: none;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 1s ease;
  }

  .setup-step-call-to-action {
    border: none;
    outline: none;
    padding: 1em 2em;
    background-color: rgba(64, 64, 64, 1);
    color: #f6f3f6;
    margin-top: 0.75em;
    border-radius: 10px;
    display: block;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    align-self: flex-start;
    font: var(--font-12px-semi-bold);
    letter-spacing: var(--text-12px-semi-bold-letter-spacing);
    color: var(--plain-background);
  }

  .setup-step-call-to-action::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: inherit;
    filter: blur(0.75px);
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }

  .setup-step-call-to-action:hover {
    background-color: #2a2a2a;
  }

  .setup-step-call-to-action:focus-visible {
    outline: 2px solid var(--state-focused);
    outline-offset: 2px;
  }

  .setup-step-call-to-action:active {
    outline-color: transparent;
  }

  .setup-step-call-to-action:active::after {
    display: none;
  }
}

.setup-step:nth-of-type(2) {
  .call-to-actions-container {
    display: flex;
    align-self: flex-start;
    gap: 1em;
  }

  .setup-step-call-to-action:nth-of-type(2) {
    background-color: transparent;
    color: var(--font-dark);

    &:hover {
      background-color: var(--state-hover);
    }

    &:active {
      background-color: var(--state-pressed);
    }

    &:focus-visible {
      background-color: var(--font-light);
    }

    &::after {
      display: none;
    }
  }
}

.setup-step:has([aria-expanded='true']) {
  background-color: #f3f3f3;

  .setup-step-btn {
    font: var(--font-13px-semi-bold);
    letter-spacing: var(--text-13px-semi-bold-letter-spacing);
  }

  .setup-step-info {
    max-height: 300px;
    overflow: unset;
  }

  .setup-step__illustration {
    max-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .search-input-container {
    min-width: 600px;

    & > input {
      width: 100%;
    }
  }

  .menu-container {
    gap: 1em;

    & > button {
      background-color: var(--grey-100);
      transition: background-color 0.3s ease;
    }
  }

  .notification-container {
    position: relative;

    .notification-btn {
      background-color: var(--grey-50);
    }

    .notification-menu {
      position: absolute;
      right: -220px;
      top: 80px;
      margin: 0;
      margin-left: auto;
      width: max-content;
      max-width: 500px;

      & p {
        width: 80ch;
      }
    }
  }

  .merchant-profile-btn {
    padding: 0 0.2em 0 0.75em;
    border-radius: 10px;
    gap: 0.5em;

    .store-name {
      display: block;
      color: var(--font-light);
      font-size: 1.15rem;
    }
  }

  .trial-prompt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 1em;
    border-radius: 10px;

    .close-prompt-btn {
      position: initial;
    }
  }

  .setup-content-container {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
      'btn img'
      'info img';
    gap: 0.5em;
  }

  .setup-step .setup-step__illustration {
    display: block;
    justify-self: end;
  }
}
